Stochastic_Indi_Stochastic_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Stochastic_Indi_Stochastic_MA_Method,1=0
Stochastic_Indi_Stochastic_MA_Method,2=1
Stochastic_Indi_Stochastic_MA_Method,3=3
Stochastic_Indi_Stochastic_MA_Method,F=1
Stochastic_Indi_Stochastic_MA_Method={{ ma_method | default(0) }}
Stochastic_Indi_Stochastic_Period={{ period | default(4) }}
Stochastic_Indi_Stochastic_Shift={{ shift | default(0) }}
Stochastic_LotSize={{ lot_size | default(0) }}
Stochastic_PriceStopMethod=0
Stochastic_SignalOpenFilterMethod=1
Stochastic_SignalOpenLevel={{ signal_open_level | default(0) }}
Stochastic_TickFilterMethod=1
